<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for purchasing from Jungle!  Your Order ID is <%= @order.id %></h1>
    <p>
      Your order is $<%= @order.total_cents / 100 %>.<%= @order.total_cents % 100 %><br>
    </p>
    <ul>
      <%= @to_display.each_with_index do |item, index|%>
        <li><%= @products[index].quantity%> <%= @to_display[index].name %>, each one costs $<%= @to_display[index].price_cents.to_f / 100 %></li>        
      <% end %>
    </ul>
    <p>Thank you for your purchase, please visit us again!</p>
  </body>
</html>